{% extends 'base.html' %}

{% block main %}
	{% if error_msg %}
		<p>{{ error_msg }}</p>
	{% endif %}

	{% for post in post_list %}
		<article class="Post post-{{ post.pk }}">
			<header class="Post__header">
				<h3 class="Post__title">
					<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
				</h3>				
				<div class="Post__info">
					<span class="Post__info__category">
						<a href="">{{ post.category_name }}</a>
					</span>
					<span class="Post__info__date">
						<a href="">
							<time datetime="{{ post.created_time }}">{{ post.created_time }}</time>
						</a>
					</span>
					<span class="Post__comments">
						<a href="">
							{{ post.comment_set.count }}
						</a>
					</span>
					<span class="Post__catagory">
						<a href="">
							{{ post.category.name }}
						</a>
					</span>
					<span class="Post__author">
						by {{ post.author }}						
					</span>
					<span class="Post__views">
						{{ post.views }}						
					</span>
				</div>
			</header>	
			<div class="Post__image">
			</div>
			<div class="Post__content">
				<p>{{ post.excerpt }}...</p>
				<a class="button Post__read" href="{{ post.get_absolute_url }}">Read more</a>
			</div>		
		</article>
	{% endfor %}

{% endblock main %}